--find-links https://repo.radeon.com/rocm/manylinux/rocm-rel-7.2.1/
numpy==1.26.4
torch==2.10.0
torchaudio==2.10.0
transformers==4.57.3
huggingface-hub==0.36.2
soundfile>=0.13,<1
librosa==0.10.2
scipy
matplotlib
numba
pytorch-lightning>=2.4
ffmpeg-python
cn2an
pypinyin
g2p-en
sentencepiece
peft<0.18.0
chardet
PyYAML
psutil
jieba-fast
jieba
split-lang
fast-langdetect==1.0.1
wordsegment
rotary-embedding-torch
ToJyutping
g2pk2
ko-pron
OpenCC
x-transformers
torchmetrics<=1.5
pydantic<=2.10.6
